@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Roboto", sans-serif;
}

.section {
    display: flex;
}

.section-1,
.footer {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.logo,
.hero-main {
    color: #F9FAF8;
}

.link,
.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-btn {
    background-color: #3882F6;
}

.img-placeholder {
    background-color: gray;
    color: white;
}