@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Roboto", sans-serif;
}

.section,
.header,
.subsection,
.img-placeholder,
.sub1 {
    display: flex;
}

.header {
    align-items: center;
    gap: 20px;
}

.section-1,
.sub1 {
    flex-direction: column;
}

.section-1 {
    padding: 10px 150px 100px 150px;
    gap: 100px;
}

.section-1,
.footer {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    margin-right: auto;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.logo,
.hero-main {
    color: #F9FAF8;
}

.link,
.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-btn {
    background-color: #3882F6;
}

.img-placeholder {
    background-color: gray;
    color: white;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 450px;
}

.sub1 {
    flex-basis: 50vw;
    gap: 5px;
    align-items: start;
}

.subsection {
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}